<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <div >
          <img src="https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501__340.jpg"  alt="Your Image">
          <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h1>Some Text</h1>
            <button class="btn btn-primary "  routerLink="/application-form">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>